<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(locals.message == undefined) { %>
    <title><%= article.headline.substr(0, 10) + "..." %></title>
    <% } else {%>
    <title>Error 404</title>
    <% } %>

    <link href="/css/common.css" rel="stylesheet" />

    <style>
        .article-headline{
            font-size: 2.8em;
            font-family: Nexa;
            text-transform: uppercase;
            margin: 30px 0px 50px 0px;
        }

        .article-body{
            display: grid;
            grid-template-columns: 2fr 3fr;

            gap: 20px;
        }

        .article-image img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .article-meta{
            font-size: 0.8em;
            color: var(--dark-g);
            margin-bottom: 10px;
        }

        .article-description{
            margin-bottom: 60px;
            letter-spacing: 2px;
            font-size: 2em;
        }

        .article-link{
            margin-bottom: 40px;
        }

        .article-actions img{
            vertical-align: middle;
        }

        .article-actions span{
            padding: 10px;
            margin-right: 10px;
        }
    </style>

</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>

        <% if(locals.message != undefined) { %>
            <div class="article-headline">
                <%= message %>
            </div>
            
            <div class="article-body">
                <div class="article-description">
                    Go back to <a href="/">home</a>
                </div>
            </div>
        <% } %>
        
        <% if(locals.message == undefined) { %>
        <div class="article-headline">
            <%= article.headline %>
        </div>

        <div class="article-body">
            <div class="article-image">
                <img src="https://picsum.photos/seed/<%= Math.floor(Math.random() * 500) %>/600/400" />
            </div>
            <div>
                <div class="article-meta">
                    Date: <%= article.date %>
                    <br/>
                    Author: <%= article.authors %>
                </div>
                <div class="article-description">
                    <%= article.short_description %>
                </div>
                <div class="article-link">
                    <a class="dark-button-a" href=<%= article.link %>>
                        Read More ↗
                    </a>
                </div>
                <% if(locals.role != undefined && role === "publisher"){ %>
                <div class="article-actions">
                    <span class="dark-button-a" id="btnEdit">
                        <img src="/assets/edit.png" />
                    </span>
                    <span class="dark-button-a" id="btnDelete">
                        <img src="/assets/delete.png" />
                    </span>
                </div>

                <%- include('../partials/form_article', {formMethod: 'PUT', formAction: '/article/' + article._id, article: article}) %>
                <% } %>
            </div>
        </div>
        <% } %>

        <%- include('../partials/footer') %>
    </div>
</body>

<% if(locals.role != undefined && role === "publisher" && locals.message == undefined){ %>
<script>
    window.onload = () => {
        document.querySelector("#btnEdit").addEventListener("click", () => {
            document.querySelector("#curd-article").classList.add("visible-flex")
            console.log(document.querySelector("#curd-article").classList)
        })

        document.querySelector("#btnDelete").addEventListener("click", () => {
            fetch("/article/<%= article._id %>",  {
                method: "delete",
                headers:{
                        'Content-Type': 'application/x-www-form-urlencoded'
                },  
                body: new URLSearchParams({
                    id: "<%= article._id %>"
                })
            }).then(result => {
                if(result.status == 200){
                    window.location.reload()
                }else{
                    alert("Article could not be deleted")
                }
            })
        })
    }
</script>
<% } %>

</html>