<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toofan Express</title>
    <link href="/css/common.css" rel="stylesheet" />

    <style>
        .article-grid{
            display: grid;
            grid-template-columns: 4fr 2fr;
            gap: 20px 30px;

            margin: 40px auto;

            width: 100%;
        }

        .toolbar{
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: stretch;

            height: fit-content;
        }

        .toolbar input, select{
            border-radius: 10px;
            height: 100%;
        }

        .pagination{
            width: fit-content;
            height: fit-content;
            margin: auto;
        }

        .page-number{
            padding: 0px 10px;
            border: 1px solid var(--light-g);
            border-radius: 10px;
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <%- include('../partials/header', {role: locals.role != undefined ? role : ""}) %>

        <div class="toolbar">
            <div>
                <input type="button" value="+ Add Article" id="btnAddArticle" class="dark-button-a"/>
            </div>
            <div>
                <input type="text" id="tQuery" />
                <input type="button" value="search" class="dark-button-a" id="btnSearch"/>
                <select id="sSort">
                    <option>sort by none</option>
                    <option>sort by newest</option>
                    <option>sort by oldest</option>
                </select>
            </div>
        </div>
        
        <link rel="stylesheet" href="/css/card_article.css" />
        <div class="article-grid">
            <div>
                <% for(let i = 0; i < articles.length/2; i++){%>
                    <% if (articles[i] == undefined) {continue} %>
                    <%- include('../partials/card_article', {article: articles[i]}) %>
                <% } %>
            </div>
            <div>
                <% for(let i = articles.length/2; i < articles.length; i++){ %>
                    <% if (articles[i] == undefined) {continue} %>
                    <%- include('../partials/card_article', {article: articles[i]}) %>
                <% } %>
            </div>
        </div>

        <div class="pagination">
            <input type="button" value="◀" id="btnPreviousPage" class="button-a" />
            <span class="page-number" id="tPageNumber">1</span>
            <input type="button" value="▶" id="btnNextPage" class="button-a" />
        </div>

        <%- include('../partials/form_article', {formMethod: "POST", formAction: "/article/create"}) %>

        <%- include('../partials/footer') %>
    </div>

    <script>
        function $(x){
            return document.querySelector(x)
        }

        $("#btnSearch").addEventListener("click", () => {
            let query = $("#tQuery").value.replaceAll(" ", "%20")
            window.location.href = "/search?q=" + query
        })

        $("#sSort").addEventListener("change", () => {

            let sort = "date"
            let order = "desc"
            if($("#sSort").options.selectedIndex == 2){
                order = "asc"
            }

            let link = window.location.href

            if(link.includes("?")){
                var args = link.split("?")[1]
                if(args.includes("&")){
                    args = args.split("&")
                }else{
                    args = [args]
                }

                let isSorted = false
                for(let i = 0; i < args.length; i++){
                    if(args[i].includes("order")){
                        isSorted = true
                        args[i] = "order="+order
                    }
                }
                
                if(!isSorted){
                    args.push("sort=date")
                    args.push("order="+order)
                }

                link = link.split("?")[0] + "?" + args.join("&")
            }else{
                
                link = link + "?sort=date&order=" + order
            }

            window.location.href = link
        })

        var pageNumber = 1
        var windowArgs = []
        window.onload = () => {
            if(window.location.href.split("?").length > 1){
                windowArgs = window.location.href.split("?")[1].split("&")
            }

            console.log(windowArgs) 

            windowArgs.forEach(arg => {
                if(arg.split("=")[0] === "page"){
                    pageNumber = parseInt(arg.split("=")[1])
                    $("#tPageNumber").innerText = pageNumber
                }
            })
            

            $("#btnPreviousPage").addEventListener("click", () => {
                if(pageNumber <= 1){
                    return;
                }

                changePage(pageNumber - 1)
            })

            $("#btnNextPage").addEventListener("click", () => {
                changePage(pageNumber + 1)
            })
        }

        function changePage(newPage){
            let isPaged = false
            for(let i = 0; i < windowArgs.length; i++){
                console.log("window arg: " + windowArgs[i])
                if(windowArgs[i].includes("page")){
                    isPaged = true
                    windowArgs[i] = "page="+(newPage)
                }
            }

            if(!isPaged){
                windowArgs.push("page=" + (newPage))
            }
            window.location.href = window.location.href.split("?")[0] + "?" + windowArgs.join("&")
        }

        $("#btnAddArticle").addEventListener("click", () => {
            $("#curd-article").classList.add("visible-flex")
        })
    </script>
</body>
</html>